/* Created by: Brayden MacMillan
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-04-HTML-Museum
*/

body {
	background-color: rgb(230, 96, 150)
}

h1 {
	background-color: rgb(74, 189, 227);
	color: hsl(0, 0%, 0%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #e4e2d7;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #56eef0;
	font-size: 20px;
}
